<div class="project">
    <div class="screenshot">
    </div>
    <div class="desc">
        <div class="proj-name">
            <h4>Fakebook</h4>
        </div>
        <div class="proj-links">
            <a href=""><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" /></a>
            <a href=""><img src="imgs/open-in-new.svg" alt="A link to open the project in a new browser"></a>
        </div>
        <div class="proj-desc">
            <p>A mock social media site, reminiscent of Facebook. Add friends, follow people or groups, message people, create group chats and view a timeline of your friends and following's posts</p>
        </div>
    </div>
</div>